<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/vue/2.6.8/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/China.js"></script>
    <!--    引入bootStrap的相关文件-->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
<div id="app">
    <el-container>
        <el-header>淘机票</el-header>
        <el-main>
            <el-row :gutter="20">
                <el-col :span="8"><div class="grid-content bg-purple">
                    <el-button type="text"><a href="home.html">单程</a></el-button>
                    <el-button type="text"><a href="round-trip.html">往返</a></el-button>
                    <el-button type="text"><a href="multiple-trip.html">多程</a></el-button>
                    <el-button type="text"><a href="fly-time.html">何时飞</a></el-button>
                    <el-button type="text">飞哪里</el-button>
                </div></el-col>
            </el-row>
            <!--            搜索框所在的位置-->
            <div style="margin: auto">
                <div id="single_line" >
                    <el-select v-model="value_locate1" placeholder="请选择出发地">
                        <el-option-group
                                v-for="group in options"
                                :key="group.label"
                                :label="group.label">
                            <el-option
                                    v-for="item in group.options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-option-group>
                    </el-select>
                    <el-date-picker
                            v-model="value1"
                            type="date"
                            format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                            placeholder="选择日期">
                    </el-date-picker>
                    <el-button type="default" onclick=vee.getSingle()><span class="glyphicon glyphicon-plane">搜索</span></el-button>
                </div>
            </div>
            <!--            机票统计显示的位置-->
            <el-row>
                <el-col :span="6"><div class="grid-content bg-purple">

                </div></el-col>
                <el-col :span="18"><div class="chart-content bg-purple-light">
                    <div id="chinamap" style="width: 800px;height: 400px"></div>
                </div></el-col>
            </el-row>
        </el-main>
    </el-container>
</div>
</body>
<script>
    // 基于准备好的dom，初始化ECharts实例
    var vee = new Vue({
        el:'#app',
        data:{
            // 一辆航班的数据信息,显示的时候暂时没用到，
            active: 0,
            planeList:[],
            options: [{
                label: '热门城市',
                options: [{
                    value: '上海',
                    label: '上海'
                }, {
                    value: '北京',
                    label: '北京'
                }]
            }, {
                label: '城市名',
                options: [{
                    value: '成都',
                    label: '成都'
                }, {
                    value: '深圳',
                    label: '深圳'
                }, {
                    value: '广州',
                    label: '广州'
                }, {
                    value: '大连',
                    label: '大连'
                }]
            }],
            value_locate1:'',
            // value1获取到价格最低的月份
            value1:'',
            // value2是用户选择的价格最低的天
            value2:'',
            // value3获取用户选中的返回时间
            value3:'',
            lowestPrice_day:[],
            lowestPrice_month: [],
            lowestPrice_day_back: []
        },
        methods:{

            // 先根据用户的输入获取到每个月的最低价
            getSingle() {
                axios.get('/when-flight-month?dCity=\'' + this.value_locate1 + '\'&aCity=\'' + this.value_locate2 + '\'').then(
                    successResponse => {
                        this.lowestPrice_month = successResponse.data;

                        // 绘制中国地图
                        var myChart = echarts.init(document.getElementById('chinamap'));
                        var option = {
                            title : {
                                text: '指定目的地和出发时间可通往各地的最低票价',
                                subtext: '点击目标城市可以查看具体的航班信息',
                                x:'center'
                            },
                            tooltip : {//提示框组件。
                                trigger: 'item'//数据项图形触发，主要在散点图，饼图等无类目轴的图表中使用。
                            },
                            legend: {
                                orient: 'horizontal',//图例的排列方向
                                x:'left',//图例的位置
                                data:['最低价']
                            },

                            visualMap: {//颜色的设置  dataRange
                                x: 'left',
                                y: 'center',
                                splitList: [
                                    {start: 1500},
                                    {start: 900, end: 1500},
                                    {start: 310, end: 1000},
                                    {start: 200, end: 300},
                                    {start: 10, end: 200, label: '10 到 200（自定义label）'},
                                    {start: 5, end: 5, label: '5（自定义特殊颜色）', color: 'black'},
                                    {end: 10}
                                ],
                                text:['高','低'],// 文本，默认为数值文本
                                color: ['#E0022B', '#E09107', '#A3E00B']
                            },
                            toolbox: {//工具栏
                                show: true,
                                orient : 'vertical',//工具栏 icon 的布局朝向
                                x: 'right',
                                y: 'center',
                                feature : {//各工具配置项。
                                    mark : {show: true},
                                    dataView : {show: true, readOnly: false},//数据视图工具，可以展现当前图表所用的数据，编辑后可以动态更新。
                                    restore : {show: true},//配置项还原。
                                    saveAsImage : {show: true}//保存为图片。
                                }
                            },
                            roamController: {//控制地图的上下左右放大缩小 图上没有显示
                                show: true,
                                x: 'right',
                                mapTypeControl: {
                                    'china': true
                                }
                            },
                            series : [
                                {
                                    name: '最低价',
                                    type: 'map',
                                    mapType: 'china',
                                    roam: false,//是否开启鼠标缩放和平移漫游
                                    itemStyle:{//地图区域的多边形 图形样式
                                        normal:{//是图形在默认状态下的样式
                                            label:{
                                                show:true,//是否显示标签
                                                textStyle: {
                                                    color: "rgb(249, 249, 249)"
                                                }
                                            }
                                        },
                                        emphasis:{//是图形在高亮状态下的样式,比如在鼠标悬浮或者图例联动高亮时
                                            label:{show:true}
                                        }
                                    },
                                    top:"3%",//组件距离容器的距离
                                    data:[
                                        {name: '北京',value: Math.round(Math.random()*2000)},
                                        {name: '天津',value: Math.round(Math.random()*2000)},
                                        {name: '上海',value: Math.round(Math.random()*2000)},
                                        {name: '重庆',value: Math.round(Math.random()*2000)},
                                        {name: '河北',value: 0},
                                        {name: '河南',value: Math.round(Math.random()*2000)},
                                        {name: '云南',value: 5},
                                        {name: '辽宁',value: 305},
                                        {name: '黑龙江',value: Math.round(Math.random()*2000)},
                                        {name: '湖南',value: 200},
                                        {name: '安徽',value: Math.round(Math.random()*2000)},
                                        {name: '山东',value: Math.round(Math.random()*2000)},
                                        {name: '新疆',value: Math.round(Math.random()*2000)},
                                        {name: '江苏',value: Math.round(Math.random()*2000)},
                                        {name: '浙江',value: Math.round(Math.random()*2000)},
                                        {name: '江西',value: Math.round(Math.random()*2000)},
                                        {name: '湖北',value: Math.round(Math.random()*2000)},
                                        {name: '广西',value: Math.round(Math.random()*2000)},
                                        {name: '甘肃',value: Math.round(Math.random()*2000)},
                                        {name: '山西',value: Math.round(Math.random()*2000)},
                                        {name: '内蒙古',value: Math.round(Math.random()*2000)},
                                        {name: '陕西',value: Math.round(Math.random()*2000)},
                                        {name: '吉林',value: Math.round(Math.random()*2000)},
                                        {name: '福建',value: Math.round(Math.random()*2000)},
                                        {name: '贵州',value: Math.round(Math.random()*2000)},
                                        {name: '广东',value: Math.round(Math.random()*2000)},
                                        {name: '青海',value: Math.round(Math.random()*2000)},
                                        {name: '西藏',value: Math.round(Math.random()*2000)},
                                        {name: '四川',value: Math.round(Math.random()*2000)},
                                        {name: '宁夏',value: Math.round(Math.random()*2000)},
                                        {name: '海南',value: Math.round(Math.random()*2000)},
                                        {name: '台湾',value: Math.round(Math.random()*2000)},
                                        {name: '香港',value: Math.round(Math.random()*2000)},
                                        {name: '澳门',value: Math.round(Math.random()*2000)}
                                    ]
                                }
                            ]
                        };
                        myChart.setOption(option);
                        myChart.on('mouseover', function (params) {
                            var dataIndex = params.dataIndex;
                            console.log(params);
                        });
                        // 处理点击事件并且弹出数据名称
                    //     myChart.on('click', function (params) {
                    //         this.value1 = params.name;
                    //         alert(this.value1);
                    //         // 再根据用户点击的月份获取到这个月每天的最低价
                    //         axios.get('/when-flight-day-leave?dCity=\'' + vee.value_locate1 + '\'&aCity=\'' + vee.value_locate2+'\'&month=\''+this.value1+'\'').then(
                    //             successResponse => {
                    //                 this.lowestPrice_day = successResponse.data;
                    //                 var days = [];
                    //                 var dayPrices = [];
                    //                 for(var i = 0; i < this.lowestPrice_day.length; i++) {
                    //                     days.push(this.lowestPrice_day[i]['dDate']);
                    //                     dayPrices.push(this.lowestPrice_day[i]['price']);
                    //                 }
                    //             }
                    //         ).catch((error) => {
                    //             console.log(error)
                    //         });
                    //     });
                    }
                ).catch((error) => {
                    console.log(error)
                });
            }
            // 获取单程票的数据
        }
    });
</script>
<style>
    /*显示具体的航班信息*/
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both
    }

    .box-card {
        width: 800px;
        margin-top: 20px;
    }

    .el-input{
        width: 300px;
    }
    .single_line{
        display: flex;
        /*flex: 1;*/
    }
    /*导航行的样式*/
    .el-row {
        margin-bottom: 10px;
    }
    .el-col {
        border-radius: 4px;
    }
    .bg-purple-dark {
        background: #99a9bf;
    }
    .bg-purple {
        background: #d3dce6;
    }
    .bg-purple-light {
        background: #e5e9f2;
    }
    .grid-content {
        border-radius: 4px;
        height: 36px;
        text-align: center;
        line-height: 36px;
    }
    .chart-content {
        border-radius: 4px;
        min-height: 36px;
        margin-top: 20px;
        margin-bottom: 20px;
        /*text-align: center;*/
        /*line-height: 36px;*/
    }
    .row-bg {
        background-color: #f9fafc;
    }
    /*外面大框架的样式*/
    .el-header{
        background-color: #B3C0D1;
        color: #333;
        text-align: center;
        line-height: 60px;
    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        /*text-align: center;*/
        /*line-height: 460px;*/
    }
    .el-button{
        color: black;
    }
    body{
        margin: 0px;
    }
</style>
</html>